<div class="login-container">
  <div class="login-card">

    <h2 *ngIf="step === 1">Forgot Password</h2>
    <h2 *ngIf="step === 2">Reset Password</h2>

    <!-- STEP 1 -->
    <div *ngIf="step === 1">
      <input
        type="email"
        placeholder="Enter registered email"
        [(ngModel)]="email"
      />

      <p *ngIf="error" class="error-text">{{ error }}</p>

      <button (click)="verifyEmail()">Verify Email</button>
    </div>

    <!-- STEP 2 -->
    <div *ngIf="step === 2">
      <input
        type="password"
        placeholder="New Password"
        [(ngModel)]="password"
      />

      <input
        type="password"
        placeholder="Confirm Password"
        [(ngModel)]="confirmPassword"
      />

      <p *ngIf="error" class="error-text">{{ error }}</p>

      <button (click)="resetPassword()">Reset Password</button>
    </div>

    <p class="register-text">
      <a routerLink="/login">Back to Login</a>
    </p>

  </div>
</div>
