<h2>🛒 My Cart</h2>

<div *ngIf="cart.length === 0">
  Cart is empty
</div>

<div *ngFor="let i of cart; trackBy: trackById" class="cart-item">

  <input
    type="checkbox"
    [checked]="i.selected"
    (change)="toggle(i, $event)"
  />

  <img *ngIf="i.imageUrl" [src]="i.imageUrl" width="60" />

  <strong>{{ i.name }}</strong>
  ₹{{ i.price }}

  <button (click)="decrease(i)">−</button>
  {{ i.quantity }}
  <button (click)="increase(i)">+</button>

  <button (click)="remove(i)">✕</button>
</div>

<div *ngIf="cart.length" class="cart-footer">
  <div class="total">Total: ₹{{ total }}</div>
  <button class="checkout-btn" (click)="checkout()">
    Proceed to Checkout
  </button>
</div>


